@import "lite.scss";

$positions: top left bottom right;
$measures: margin padding;
$spacings: (
    xxxs: 4,
    xxs: 8,
    xs: 16,
    s: 24,
    m: 32,
    l: 48,
    xl: 64,
    xxl: 96,
    xxxl: 128
);

/* spacing by pixels */
@each $measure in $measures {
  @each $spacing, $value in $spacings {
    /* by position */
    @each $position in $positions {
      .#{$measure}-#{$position}-#{$spacing} {
        #{$measure}-#{$position}: #{$value}px;
      }
    }

    /* general */
    .#{$measure}-#{$spacing} {
      #{$measure}: $value;
    }

    /* bidirectional */
    .horizontal-#{$measure}-#{$spacing} {
      #{$measure}-left: $value;
      #{$measure}-right: $value;
    }
    .vertical-#{$measure}-#{$spacing} {
      #{$measure}-top: $value;
      #{$measure}-bottom: $value;
    }
  }
}

/* no spacing */
@each $measure in $measures {
  /* by position */
  @each $position in $positions {
    .no-#{$measure}-#{$position} {
      #{$measure}-#{$position}: 0;
    }
  }

  /* general */
  .no-#{$measure} {
    #{$measure}: 0;
  }

  /* bidirectional */
  .no-horizontal-#{$measure} {
    #{$measure}-left: 0;
    #{$measure}-right: 0;
  }
  .no-vertical-#{$measure} {
    #{$measure}-top: 0;
    #{$measure}-bottom: 0;
  }
}
