@import "extended.scss";

$percentages: ();

@for $i from 1 through 20 {
  $percentages: append($percentages, 5 * $i);
}

/* sizing by percentages */
@each $percentage in $percentages {
  .width-#{$percentage} {
    width: $percentage * 1%;
  }
  .height-#{$percentage} {
    height: $percentage * 1%;
  }
  .vw-#{$percentage} {
    width: #{$percentage}vw;
  }
  .vh-#{$percentage} {
    height: #{$percentage}vh;
  }
}

/* spacing by percentages */
@each $percentage in $percentages {
  @each $measure in $measures {
    @each $position in $positions {
      /* by position */
      .#{$measure}-#{$position}-#{$percentage} {
        #{$measure}-#{$position}: $percentage * 1%;
      }
      .#{$measure}-#{$position}-#{$percentage}vw {
        #{$measure}-#{$position}: #{$percentage}vw;
      }
      .#{$measure}-#{$position}-#{$percentage}vh {
        #{$measure}-#{$position}: #{$percentage}vh;
      }
    }

    /* general */
    .#{$measure}-#{$percentage} {
      #{$measure}: $percentage * 1%;
    }
    .#{$measure}-#{$percentage}vw {
      #{$measure}: #{$percentage}vw;
    }
    .#{$measure}-#{$percentage}vh {
      #{$measure}: #{$percentage}vh;
    }

    /* bidirectional */
    .horizontal-#{$measure} {
      #{$measure}-left: $percentage * 1%;
      #{$measure}-right: $percentage * 1%;
    }
    .vertical-#{$measure} {
      #{$measure}-top: $percentage * 1%;
      #{$measure}-bottom: $percentage * 1%;
    }
    .horizontal-#{$measure}vw {
      #{$measure}-left: #{$percentage}vw;
      #{$measure}-right: #{$percentage}vw;
    }
    .vertical-#{$measure}vh {
      #{$measure}-top: #{$percentage}vh;
      #{$measure}-bottom: #{$percentage}vh;
    }
  }
}